doctype html
html
  head
    title= title
  body
    div#header
    if user
      h1 wellcome #{user.name}
      img(src='#{user.image}')
    else
      a(href="/auth/facebook") LOGIN facebook
    div#app
    script(type='text/javascript',src='./bundle.js')
