doctype html
html
  head
    title= title
  body
    div#header
    if user
      h1 wellcome #{user.name}
      img(src='#{user.image}')    
    div#app
    script(type='text/javascript',src='./bundle.js')
