body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#header{
  position: fixed;
  right: 0;
  top:0;
  z-index: 1500;
}
#header h3{
  display: inline-block;
  margin-right: 10px
}
#header img{
  margin-top: -20px;
  border-radius: 50%;
}
div.row.postContainer{
  margin-top: 55px;
}

.row{
  padding: 5px;
  margin: 5px auto;
}
.votingbtn{
      padding-top: 35px;
}
a:hover,button:hover{
  cursor: pointer;
}

@media only screen and (max-width : 768px) {
#header{
  right:0;
  z-index: 1500;
}
#header h3{
  display: none;
}
#header img{
  position: fixed;
  left: 47vw;
  width: 40px;
  top: 28px;
}
button.votebtn{
  margin: 0 15px;
  width: 20vw;
}
div.row.eachpost{
  padding-bottom: 5px;
  border-bottom: 2px solid #0E420A;
}
}
