body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#header{
  position: fixed;
  right: 0;
  top:0;
  z-index: 1500;
}
#header h3{
  display: inline-block;
  margin-right: 10px
}
#header img{
  margin-top: -20px;
  border-radius: 50%;
}
div.row.postContainer{
  margin-top: 55px;
}

.row{
  padding: 5px;
  margin: 5px auto;
}
.votingbtn{
      padding-top: 35px;
}
.votingbtn span.voteCount{
  margin: 10px auto;
  display: block;
  margin-left: -10px;
}
a:hover,button:hover{
  cursor: pointer;
}
#fblogin{
  display: block;
  background: rgba(1,2,2,0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
#fblogin a{
  display: block;
  margin: 25vh auto;
  text-align: center;
  max-width: 60vw;
}
#fblogin a:hover, a:focus{
  opacity: 0.7;
}
#fblogin img{
  max-width: 100%;
}
#fblogin button{
  POSITION: FIXED;
  TOP: 10VH;
  RIGHT: 20VW;
  WIDTH: 10VW;
  HEIGHT: 6VH;
  BORDER-RADIUS: 5PX;
  BACKGROUND: #FFF;
  FONT-SIZE: 18PX;
}


@media only screen and (max-width : 768px) {
#header{
  right:0;
  z-index: 1500;
}
#header h3{
  display: none;
}
#header img{
  position: fixed;
  left: 47vw;
  width: 40px;
  top: 28px;
}
button.votebtn{
  margin: 0 15px;
  width: 20vw;
}
div.row.eachpost{
  padding-bottom: 5px;
  border-bottom: 2px solid #0E420A;
}
.votingbtn span.voteCount{
margin-left: 20vw;
}
#fblogin button{
  top: 50vh;
  RIGHT: 35VW;
  WIDTH: 20VW;
}
}
